{% extends 'base.html.twig' %}

{% block title %}Programma'Forum{% endblock %}
{% block stylesheets %}{{ parent() }}{% endblock %}

{% block head %}<body>{{ parent() }}{% endblock %}

{% block body %}

<div id="content">
    <h2 style="text-align: center;">Bienvenue sur le forum de programmation !</h2>
    <div id="trending" class="main_content">
        Ici, tu retrouveras une communauté avec qui discuter des différentes technologies animants notre communauté.
    </div>
</div>
</body>
{% endblock %}
