{% extends 'base.html.twig' %}

{% block title %}Programma'Forum{% endblock %}
{% block stylesheets %}{{ parent() }}{% endblock %}
{% block head %}<body>{{ parent() }}{% endblock %}

{% block body %}
<form method="post">
    <div id="content">
        <h2 style="text-align: center;">Créer un sujet</h2>
        <div id="formulaireCreation">
            {% if app.user %}
                <div class="formCreerSujet" align="center">
                    {{ form_start(sujetForm) }}


                    {{ form_end(sujetForm) }}
                    <button class="customButton" type="submit">
                        Créer le sujet
                    </button>
                </div>
            {% else %}
                <h2 style="color:darkred">Vous n'êtes pas connecté. Veuillez vous identifier pour accéder à cette page.</h2>
            {% endif %}
        </div>
    </div>
</form>
</body>

{% endblock %}
